.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px 20px;
  margin-top: 60px;
}
.container h1,
h2 {
  margin-bottom: 50px;
}

.timeline-wrap {
  position: relative;
  overflow: hidden;
}

.timeline-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.2);
}

.timeline-item {
  display: flex;
  margin-bottom: 40px;
}

/* Content Positioning */
.timeline-item .timeline-content {
  background-color: rgb(0, 0, 0);
  width: 50%;
  padding: 20px 30px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.timeline-item.left .timeline-content {
  margin-left: calc(50% + 30px);
}
.timeline-item.right .timeline-content {
  margin-right: calc(50% + 30px);
}

.timeline-item .timeline-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.timeline-item.left .timeline-icon {
  left: calc(50% - 30px);
}
.timeline-item.right .timeline-icon {
  right: calc(50% - 30px);
}

.timeline-item .timeline-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.timeline-item .timeline-text {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffffaf;
}
